@font-face {
    font-family: 'Lexend Regular';
    src: url('fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #232323;
    color: #F0F0F0;
    font-family: 'Lexend Regular', sans-serif;
    text-rendering: optimizeLegibility;
    text-transform: lowercase;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #FFF;
    text-decoration-color: #E07C93;
}

a:hover {
    color: #E07C93;
}

.navig {
    padding: 10px;
    text-align: center;
}

.navig a {
    color: #FFF;
    text-decoration-color: #E07C93;
    padding: 5px 10px;
}

.navig a:hover {
    /*background-color: #E07C93;*/
    color: #E07C93;
}

.navig .current {
    color: #E07C93;
}

.header {
    text-align: center;
}

.header .headerTitle {
    font-size: 30px;
    margin-bottom: 0px;
}

.header .headerSubtitle {
    font-size: 20px;
    margin: 0px;
    padding-top: 0px;
}

.description {
    /*margin-top: 20px;*/
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-line;
}

.section {}

li {
    font-size: 20px;
}
